.overview-wrapper {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.plot-container {
    z-index: 0;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: scroll;
    top: 1em;
    width: 80%;
    height: 40em;
}

.inner-plot-container {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}

.dropdown-menu-date-selection {
    z-index: 4;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

.drop-down-year {
    position: relative;
    box-sizing: border-box;
    width: 15em;
}

.drop-down-month {
    position: relative;
    box-sizing: border-box;
    width: 15em;
}

.each-chart {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 48%;
    margin: 1%;
}

@media only screen and (max-width: 1280px){
    .plot-container {
        z-index: 0;
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        overflow: scroll;
        top: 1em;
        width: 100%;
        height: 40em;
    }

    .dropdown-menu-date-selection {
        z-index: 4;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .each-chart {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        width: 80%;
        margin: 1%;
    }
}

@media only screen and (max-width: 450px){
    .each-chart {
        width: 94%;
        margin: 1%;
    }
}